<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Vehicle Transport Calculator</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="icon" href="/favicon.ico" type="img/x-icon">
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'home'})}"></div>


<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to Vehicle Transport Calculator,
        <th:block th:text="${welcomeMessage}"></th:block>!
    </h5>
    <span class="text-center text-white mt-5">
        <div>
            Ние разбираме колко объркващ може да бъде процесът на внос на автомобил.
        </div>
        <span></span>

        <div>
            Наша цел е да направим всяка стъпка по-ясна и достъпна, така че да можете да вземете информирано решение и да се чувствате сигурни във всеки етап.
        </div>
        <span></span>

        <div>
        Ако търсите прозрачност, експертно мнение и искрена помощ, то сте на точното място!
        </div>
        <span>


        </span>

        <div>
        Целта на този калкулатор е да ви покаже актуалните цени за транспорт от най-удобните пристанища в САЩ.
        </div>

        <div>
            За да получите актуална цена, моля да се регистрирате или влезете в профила си.
        </div>

    </span>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
